body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo unificado para todos los campos del formulario */
.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 10rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  outline: none;
  transition: border 0.3s ease;
  height: 2.8rem; /* ajustado al alto visual de los input */
  line-height: 1.2rem; /* mejora el centrado del texto */
  appearance: none; /* remueve estilo nativo (solo si querés total uniformidad) */
  background-color: white;
  background-position: right 0.8rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

/* Estilo al hacer foco */
.form-container input:focus,
.form-container textarea:focus,
.form-container select:focus {
  border: 1px solid #264d2c;
}

button {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
